@main (max-width:1300px){
    /* navbar */
    .header_wraooer .menu-navbar-nav{
        width:auto;
    }
}
@media (max-width:start){
/* navbar */
.header_waper .nav-item{
    margin: 0 5px;
}
.header_waper .learn-more-btn{
    padding: 12px 10px !important;
}
}
@media (max-width:1070px){
    .header_wrapper .nav-item .nav-link{
        font-size: 16px;
    }
}
